<div class="content-subhead">
  <h1>Who are we?</h1>
</div>

<div>
  <p>
  From 2008-2012, Josh, Dan, Doug and Jake all sang as part of <a href="http://uwacc.com/waterboys/">The Water Boys</a> at the University of Waterloo. One term, while away on co-op Dan sang with the <a href="http://www.barbershop-harmony.org/">Peninsulaires</a> of the Far Western District of the <a href="http://barbershop.org/">Barbershop Harmony Society</a>. He came back with a binder full of music and desire for more close harmony and the Baritones got together in Winter 2009.  We've been singing together ever since.
  </p>
  <p>
  In Spring 2013, we competed in the Collegiate division of the Barbershop Harmony Society International Championships, placing second (of two) in the Ontario section. As part of the leadup to the competition, we were lucky to receive some excellent coaching from Jordan Travis and Barry Towner.  This really opened our eyes to what barbershop music could be and pushed us to sing more in the style.
  </p>
  <p>
  Since then, we've continued singing together regularly, and have learned some new songs.
  </p>
</div>

<div class="content-subhead">
  <h1>Meet the Baritones</h1>
</div>



<div class="about-baritone pure-g">
    <div class="about-text pure-u-1 pure-u-md-1-2">
      <h2>Jake "Stubbles" Redekopp</h2>
      <p>
        Sporadically bearded, and somewhat below baritone, "Stubbles" is the Bass (4th baritone) of the group. By day, Jake battles computer code, and by night he loves to ring those barbershop chords! He also loves to sing during the day, given the chance!
      </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <img class="headshot pure-img-responsive" src="img/jake.jpg" alt="Photo of Jake">
    </div>
</div>

<div class="about-baritone pure-g">
    <div class="about-text pure-u-1 pure-u-md-1-2">
      <h2>Doug "The Fuzz" Epp</h2>
      <p>
         "The Fuzz" alternately sings first, second, third and (rarely) fourth baritone, depending on the song. A founding member of the Bearded Baritones (along with Dan, Josh and Jake) Doug never passes up on an opportunity to make sweet music. 
      </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <img class="headshot pure-img-responsive" src="img/doug.jpg" alt="Photo of Doug">
    </div>
</div>

<div class="about-baritone pure-g">
    <div class="about-text pure-u-1 pure-u-md-1-2">
      <h2>Dan "Babyface" Balzerson</h2>
      <p>
        The only baritone without the ability to grow a beard, “Babyface" tries to make up for it by taking his facial expressions way over the top. Dan spends his days thinking of ways to dominate the ultimate frisbee field and his (Wednesday) evenings making sweet sweet harmony.
      </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <img class="headshot pure-img-responsive" src="img/dan.jpg" alt="Photo of Dan">
    </div>
</div>

<div class="about-baritone pure-g">
    <div class="about-text pure-u-1 pure-u-md-1-2">
      <h2>Josh "Whiskers" Matthews</h2>
      <p>
        Josh writes computer programs by day, and has been known to teach barbershop tags to the programmers sitting around him in the office. When he grows up he wants to be a firefighter.
      </p>
    </div>

  <div class="pure-u-1 pure-u-md-1-2">
        <img class="headshot pure-img-responsive" src="img/josh.jpg" alt="Photo of Doug">
    </div>
</div>
