<div class="content-subhead">
  <h1>Upcoming Appearances</h1>
</div>

<div class="appearances">
  {{#each events}}
  <div class="event">
    <strong>{{title}}</strong><br/>
    When: {{dateString}}<br/>
    Where: {{location}}<br/>
  </div>
  {{/each}}
</div>