<div class="content-subhead">
  <h1>Contact Us</h1>
</div>

<p>
Want us to sing at your event?  Need to ask a burning question about barbershop harmony? Just want to chat?  Send us a <a href=mailto:bearded.baritones@gmail.com>message by email</a>.
</p>


</div>

