<p>
  The Bearded Baritones are a barbershop quartet from Kitchener, ON. We sing traditional barbershop, modern a cappella, and everything in between (is that even a range that makes sense?).
</p>
<p>
 Want us to sing for you?  <a href="/contact">Get in touch!</a>
</p>
<div class="photo">
  <img class="pure-img-responsive" src="/img/perform/DanAlina1.jpg" alt="A photo of the bearded baritones performing">
</div>
<p>
    <a class="btn pure-button" href="/about" role="button">Find out more &raquo;</a>
</p>
