<div class="content-subhead">
  <h1>Photos</h1>
</div>
<p>
  Some photos from our past performances.
</p>

<div class="pure-g">
  {{#each photos}}
  <div class="pure-u-1-1 photo">
    <img class="pure-img-responsive" src="{{filename}}" alt="A photo of the bearded baritones performing">
  </div>
  {{/each}}
</div>
