<div class="content-subhead">
  <h1>What do we do?</h1>
</div>

<p>
   We sing!
</p>
<div class="youtube-embed">
  <iframe width="640" height="360" src="https://www.youtube.com/embed/d00Preby0JQ?feature=player_detailpage" frameborder="0" rel="0" allowfullscreen></iframe>
</div>
<div class="youtube-embed">
  <iframe width="640" height="360" src="https://www.youtube.com/embed/t8-qywwZCXs?feature=player_detailpage" frameborder="0" rel="0" allowfullscreen></iframe>
</div>
<p>
  We wear hats and suspenders!
</p>
<div class="youtube-embed">
  <iframe width="640" height="360" src="https://www.youtube.com/embed/dUueVKLDQn0?feature=player_detailpage" frameborder="0" rel="0" allowfullscreen></iframe>
</div>
<p>
  Sometimes we sing things that aren't quite barbershop!
</p>
<div class="youtube-embed">
  <iframe width="640" height="360" src="https://www.youtube.com/embed/DSCoDqKGswA?feature=player_detailpage" frameborder="0" rel="0" allowfullscreen></iframe>
</div>
<p>
</p>
<div class="youtube-embed">
  <iframe width="640" height="360" src="https://www.youtube.com/embed/3sKgScl6t-g?feature=player_detailpage" frameborder="0" rel="0" allowfullscreen></iframe>
</div>

