<div class="content-subhead">
  <h1>What do we do?</h1>
</div>

<p>
   We sing!
</p>
<div class="youtube-embed">
<iframe width="972" height="547" src="https://www.youtube.com/embed/glw5Fj_K5F0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="youtube-embed">
<iframe width="972" height="547" src="https://www.youtube.com/embed/vPXcq_NnaKI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<p>
  We sing without hats on!
</p>
<div class="youtube-embed">
<iframe width="972" height="547" src="https://www.youtube.com/embed/nMMBECa8s2w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<p>
  Sometimes we sing things with a little more flair!
</p>
<div class="youtube-embed">
<iframe width="972" height="731" src="https://www.youtube.com/embed/8woP2W0BLMI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<p>
</p>
<div class="youtube-embed">
<iframe width="972" height="547" src="https://www.youtube.com/embed/7J8sckGdRFA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

