body {
    color: #444;
    background-color:#eeeeee;
    font-size:16pt;
    font-weight:300;
    color:#444;
}

a {
  color:#494;
  text-decoration:none;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
}
    #layout.active #menu {
        left: 160px;
        width: 160px;
    }

    #layout.active .menu-link {
        left: 160px;
    }
/*
The content `<div>` is where all your content goes.
*/

/* Social media buttons appear at the edge of the content div, but above the header break */
ul.share-buttons{
  list-style: none;
  padding: 0;
  margin-left:0em;
  margin-top:-2.5em;
}

ul.share-buttons li{
  display: inline;
}


/*Content div is up to 800px wide. */
.content {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

  .content h2 {
        font-family:'Yanone Kaffeesatz', sans-serif;
        font-weight: 400;
        color: #666;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #333;
}

/*Styling for text and photos of each member */

.about-baritone {
  margin-top:1em;
  border-bottom-style: solid;
  border-width:1px;
  border-color:#ddd;
  padding-bottom:1em;
}

.about-baritone img {
  margin:0em;
  border-radius:50%;
  box-shadow:5px 5px 10px #888888;
}


.about-baritone p {
  text-size:13pt;
  }


.event {
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom-style: solid;
    border-width:1px;
    border-color:#ddd;
    padding-bottom:1em;
}

/*Styling for arrangements page*/

.arrangement-text {
    border-bottom-style: solid;
    border-width:1px;
    border-color:#ddd;
    padding-bottom:1em;
}

.arrangement-img {
    height:300px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.arrangement-details {
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom-style: solid;
    border-width:1px;
    border-color:#ddd;
    padding-bottom:1em;
}

/*Styling for the songs table*/
.song {
    border-bottom-style:solid;
    border-width:1px;
    border-color:#ccc;
    font-size:80%;
    padding-left:1em;
    padding-top:0.25em;
}

.song-header {
    color:#fff;
    font-weight:400;
    background-color:#494;
    padding-left:1em;
    padding-top:0.25em;
    border-bottom-style:solid;
    border-width:2px;
    border-color:#333;
}



.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #ddd;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

/*Style videos.  Make sure that the video is only as wide as the content */
.youtube-embed {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  margin-bottom:1em;
}
.youtube-embed iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*Style photos.  Give them space to show on their own.  Photos are as wide as the content. */

.photo {
  padding-top:1em;
  padding-bottom:1em;
 }

.photo img {
  border-radius:5px;
}


/*Styling for contact form.*/

.button-success,
.button-error,
.button-warning,
.button-secondary,
.button-submit {
    color: white;
    border-radius: 1px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-submit {
    background: #494;
}

textarea.message {
    width:100%;
    height:150px;
    font-size:12pt;
}

.onSubmit {
  padding:1em;
  border-radius:5px;
  text-align:center;
}

.onSubmit p {
  font-weight:400;
}

#failedMessage {
    background-color:#E3BAC2;
}

#successMessage {
    background-color:#A3E6AB;
}
/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size:22px;
    margin-left: -160px; /* "#menu" width */
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #494;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 20px;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 160px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 160px;
    }

    .menu-link {
        position: fixed;
        left: 160px;
        display: none;
    }

    #layout.active .menu-link {
        left: 160px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 160px;
    }
}
